body {
    margin: 0;
    padding: 0;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.content, .links {
    width: 300px;
    max-width: calc(100vw - 20px);
    background-color: rgba(0, 0, 0, 0.4);
    color: floralwhite;
    border-radius: 20px;
    border: 2px solid grey;
    
}

.profpic {
    width: 120px;
    height: auto;
    margin: 0 auto;
}

.profi {
    width: 120px;
    height: auto;
    margin-top: -60px;
    border-radius: 50%;
    border: 2px solid grey;
    filter: grayscale(100%);
    transition: width 2s, height 2s, transform 2s;
}

.profi:hover{
    width: 130px;
    height: auto;
    transform: rotate(360deg);
    transition: all 1.5s ease;
    filter: grayscale(0);
}

.everything {
    position: fixed;
    top: 25%;
    right: 25%;
}

.content {
    padding-bottom: 5px;
    z-index: 3;
}

.text {
    margin: 20px 10px 0;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    text-indent: 1em;
}

.links {
    width: 200px;
    z-index: 2;
    margin: 10px auto;
}

h1, h2 {
    text-align: center;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

hr {
    width: 85%;
}

a {
    color: white;
}

ul {
    list-style-type: none;
    font-size: 35px;
    padding: 0;
    margin: 0;
    text-align: center;
}

li {
    display: inline;
}